$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

$primaryColor: #0e5f88;
$secondaryColor: #8ecceb;
$accentColor: #f1f3f3;
$black: #1d1d1d;

html {
    font-size: 62.5%;
}